<div class="custom-font">
    <div class="header-container col-12">
        <img class="immagine col-2" src="backward.png" alt="Torna alla lista ordini" (click)="listOrder()">
        <h2 class="col-10"><b>Dettaglio Ordine Numero: #{{idOrdine}}</b></h2>
    </div>
    <div *ngIf="dettagliOrdine && dettagliOrdine.length > 0; else noOrderDetails">
        <table class="order-details-table">
            <thead>
                <tr>
                    <th class="col-6">Prodotto</th>
                    <th class="col-3">Quantità</th>
                    <th class="col-3">Prezzo Totale</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dettaglio of dettagliOrdine">
                    <td data-label="Prodotto">{{ dettaglio.prodotto.nome }}</td>
                    <td data-label="Quantità">{{ dettaglio.quantitaFinale }}</td>
                    <td data-label="Prezzo Totale">{{ dettaglio.prezzoTotale | currency: 'EUR' }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    
    <ng-template #noOrderDetails>
        <p>Non ci sono dettagli disponibili per questo ordine.</p>
    </ng-template>
</div>


