.order-details-table {
    width: 90%;
    border-collapse: collapse;
    border-spacing: 0 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

thead tr th {
    padding-bottom: 2rem;
    font-size: 1.2rem;
}

tbody tr td {
    height: 3.5rem;
}

.order-details-table th, .order-details-table td {
    border-bottom: 1px solid #b44715;
    padding: 10px;
    text-align: center;
}

.order-details-table th {
    color: #b44715;
}

.btn-det {
    font-family: 'Poiret One', cursive;
    background-color: #333;
    color: #fff9ed;
    font-size: 1.2rem;
    position: absolute;
    left: 5%;
}

.btn-det:hover {
    background-color: #b44715;
    transform: scale(1.05);
}

.custom-font {
    font-family: 'Poiret One', cursive;
    color: #b44715;
    text-align: center;
    margin-top: 20px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Spazio tra il pulsante e l'H2 */
    position: relative;
}

h2 {
    color: #333;
    font-size: 3.5rem;
}

.immagine{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    position: absolute;
    left: 10%;
}