<div class="sign-in-container">
  <mat-horizontal-stepper #stepper>
    <!-- Step 1: Dati personali -->
    <mat-step [stepControl]="personalFormGroup">
      <form [formGroup]="personalFormGroup" class="sign-in-form">
        <ng-template matStepLabel>Dati personali</ng-template>


        <mat-form-field appearance="fill" hideRequiredMarker>
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Inserisci il tuo nome" formControlName="nome" required />
          <mat-error *ngIf="personalFormGroup.get('nome')?.invalid && personalFormGroup.get('nome')?.touched">
            Il nome è obbligatorio.
          </mat-error>
        </mat-form-field>


        <mat-form-field appearance="fill" hideRequiredMarker>
          <mat-label>Cognome</mat-label>
          <input matInput placeholder="Inserisci il tuo cognome" formControlName="cognome" required />
          <mat-error *ngIf="personalFormGroup.get('cognome')?.invalid && personalFormGroup.get('cognome')?.touched">
            Il cognome è obbligatorio.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" hideRequiredMarker>
          <mat-label>Email</mat-label>
          <input matInput placeholder="Inserisci la tua email" formControlName="email" required />
          <mat-error *ngIf="personalFormGroup.get('email')?.invalid && personalFormGroup.get('email')?.touched">
            Inserisci la tua email
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" hideRequiredMarker>
          <mat-label>Codice Fiscale</mat-label>
          <input matInput placeholder="Inserisci il tuo codice fiscale" formControlName="cFiscale" />
          <mat-error *ngIf="personalFormGroup.get('cFiscale')?.invalid && personalFormGroup.get('cFiscale')?.touched">
            Inserisci il tuo codice fiscale
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" hideRequiredMarker>
          <mat-label>Via</mat-label>
          <input matInput placeholder="Inserisci la tua via" formControlName="via" required />
          <mat-error *ngIf="personalFormGroup.get('via')?.invalid && personalFormGroup.get('via')?.touched">
            Inserisci la tua via
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" hideRequiredMarker>
          <mat-label>CAP</mat-label>
          <input matInput placeholder="Inserisci il tuo CAP" formControlName="cap" required />
          <mat-error *ngIf="personalFormGroup.get('cap')?.invalid && personalFormGroup.get('cap')?.touched">
            Inserisci il tuo CAP
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" hideRequiredMarker>
          <mat-label>Città</mat-label>
          <input matInput placeholder="Inserisci la tua città" formControlName="citta" required />
          <mat-error *ngIf="personalFormGroup.get('citta')?.invalid && personalFormGroup.get('citta')?.touched">
            Inserisci la tua città
          </mat-error>
        </mat-form-field>


        <div class="button-container-right">
          <button mat-button matStepperNext>Avanti</button>
        </div>
      </form>
    </mat-step>

    <!-- Step 2: Credenziali -->
    <mat-step [stepControl]="credentialsFormGroup">
      <form [formGroup]="credentialsFormGroup" class="sign-in-form">
        <ng-template matStepLabel>Credenziali</ng-template>


        <mat-form-field appearance="fill" hideRequiredMarker>
          <mat-label>Username</mat-label>
          <input matInput placeholder="Inserisci il tuo username" formControlName="username" required />
          <mat-error
            *ngIf="credentialsFormGroup.get('username')?.invalid && credentialsFormGroup.get('username')?.touched">
            Lo username è obbligatorio.
          </mat-error>
        </mat-form-field>


        <mat-form-field appearance="fill" hideRequiredMarker>
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Inserisci la tua password" formControlName="password" required />
          <mat-error
            *ngIf="credentialsFormGroup.get('password')?.invalid && credentialsFormGroup.get('password')?.touched">
            La password è obbligatoria.
          </mat-error>
        </mat-form-field>


        <mat-form-field appearance="fill" hideRequiredMarker>
          <mat-label>Conferma Password</mat-label>
          <input matInput type="password" placeholder="Conferma la tua password" formControlName="confirmPassword"
            required />
          <mat-error
            *ngIf="credentialsFormGroup.get('confirmPassword')?.invalid && credentialsFormGroup.get('confirmPassword')?.touched">
            Le password non coincidono.
          </mat-error>
        </mat-form-field>


        <div class="button-container">
          <button class="left-button" mat-button matStepperPrevious>Indietro</button>
          <button mat-raised-button class="sign-in-button" (click)="onSubmit()"
            [disabled]="credentialsFormGroup.invalid">Registrati</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>