<div class="custom-font">
    <h2><b>I miei ordini</b></h2>
  
    <div *ngIf="ordini.length === 0">
      <p>Nessun ordine trovato.</p>
    </div>
  
    <table *ngIf="ordini.length > 0" class="order-table">
      <thead>
        <tr>
          <th class="col-2">Numero dell'Ordine</th>
          <th class="col-2">Data</th>
          <th class="col-2">Totale</th>
          <th class="col-2">Indirizzo</th>
          <th class="col-1">Status</th>
          <th class="col-3">Azioni</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ordine of ordini">
          <td>{{ ordine.id }}</td>
          <td>{{ ordine.dataOrdine | date: 'dd/MM/yyyy' }}</td>
          <td>{{ ordine.totale | currency:'EUR' }}</td>
          <td>{{ ordine.indirizzo }}</td>
          <td>{{ ordine.status }}</td>
          <td>
            <button class="btn btn-det" (click)="dettagliOrdine(ordine.id)">Dettagli ordine</button>
            <button class="btn btn-danger" (click)="annullaOrdine(ordine.id)">Annulla ordine</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  