.order-table {
width: 90%;
border-collapse: collapse;
border-spacing: 0 20px;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
}

thead tr th{
padding-bottom: 2rem;
font-size: 1.2rem;
}

tbody tr td {
    height: 3.5rem;
    font-size: 1.2rem;
}

.order-table th, .order-table td {
border-bottom: 1px solid #b44715;
padding: 10px;
text-align: center;
}

.order-table th {
color: #b44715;
}

.btn-danger {
font-family: 'Poiret One', cursive;
background-color: #333;
color: #ede9e7;
font-size: 1.2rem;
border-radius: 10px;
}

.btn-danger:hover {
background-color: red;
transform: scale(1.05);
}

.btn-det {
font-family: 'Poiret One', cursive;
background-color: #333;
color: #ede9e7;
font-size: 1.2rem;
border-radius: 10px;
margin-right: 20px;
/* transition: background-color 0.3s ease, transform 0.2s ease; */
}

.btn-det:hover {
background-color: #b44715;
transform: scale(1.05);
}

.custom-font {
font-family: 'Poiret One', cursive;
color: #b44715;
text-align: center;
margin-top: 20px;
font-size: 1.2rem;
}

h2{
    color: #333;
    font-size: 3.5rem;
}
