<footer class="footer">
  <div class="footer-right">
    <div class="social-icons">
      <a href="https://www.instagram.com/betacom_it/" target="_blank" rel="noopener noreferrer" title="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.facebook.com/BetacomSrl" target="_blank" rel="noopener noreferrer" title="Facebook">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.linkedin.com/company/betacom-s-r-l-/" target="_blank" rel="noopener noreferrer"
        title="LinkedIn">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
  </div>
</footer>