<footer class="footer">
    <div class="footer-container">
      <!-- Colonna sinistra -->
      <div class="footer-left">
        <p>Betacom s.r.l.</p>
        <p>P.Iva 08482740019</p>
        <p>Privacy — Terms</p>
        <p id="coloreMail">Email: <a id="coloreMail" [href]="'mailto:' + email">{{ email }}</a></p>
        <p>&#64;Betacom 2002-2024</p> 
      </div>
      <!-- Colonna destra -->
      <div class="footer-right">
        <div class="social-icons">
          <a href="https://www.instagram.com/betacom_it/" target="_blank" rel="noopener noreferrer" title="Instagram">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.facebook.com/BetacomSrl" target="_blank" rel="noopener noreferrer" title="Facebook">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://www.linkedin.com/company/betacom-s-r-l-/" target="_blank" rel="noopener noreferrer" title="LinkedIn">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>