.footer {
  background-color: #000; /* Colore nero per il footer */
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons a {
  font-size: 2rem;
  color: #fff; /* Colore bianco di base */
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #f4f4f4;
}

.social-icons a[title="Instagram"]:hover {
  color: #E1306C; /* Colore ufficiale di Instagram */
}

.social-icons a[title="Facebook"]:hover {
  color: #1877F2; /* Colore ufficiale di Facebook */
}

.social-icons a[title="LinkedIn"]:hover {
  color: #0077B5; /* Colore ufficiale di LinkedIn */
}
