<div class="custom-font">
  <div class="header-container">
    <h2><b>Gestione Prodotto</b></h2>
    <div class="image-container">
      <img class="immagine" src="plus.png" alt="Torna alla lista ordini" (click)="createProd()">
    </div>
  </div>
  <table class="order-table">
    <thead>
      <tr>
        <th class="col-1">N°</th>
        <th class="col-2">Nome</th>
        <th class="col-1">Tipo</th>
        <th class="col-4">Descrizione</th>
        <th class="col-1">Peso(g)</th>
        <th class="col-1">Prezzo</th>
        <th class="col-1">Stock</th>
        <th class="col-1">Disponibile</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let prodotto of data" (click)="updateProd(prodotto)">
        <th data-label="N°" scope="row">{{prodotto.id}}</th>
        <td data-label="Nome">{{prodotto.nome}}</td>
        <td data-label="Tipo">{{prodotto.tipo.descrizione}}</td>
        <td data-label="Descrizione">{{prodotto.descrizione}}</td>
        <td data-label="Peso">{{prodotto.peso}}</td>
        <td data-label="Prezzo">{{prodotto.prezzo}}</td>
        <td data-label="Stock">{{prodotto.stock}}</td>
        <td class="disponibile" data-label="Disponibile" *ngIf="prodotto.disponibile">Disponibile</td>
        <td class="disponibile" data-label="Disponibile" *ngIf="!prodotto.disponibile">Esaurito</td>
      </tr>
    </tbody>
  </table>
</div>