<div class="container-fluid">
    <div class="row" style="width: 100%;">
        <aside class="col-1"></aside>
        <div class="col-10" style="padding: 3%;">
            <a (click)="goBack()" class="back"><img src="chevron-double-left.svg" />Indietro</a>

            <div class="container-fluid" *ngIf="prodotto">
                <div class="image-container">
                    <img class="product-img" src={{prodotto?.img}} alt="product image">
                </div>
                <div class="description">
                    <div class="paragraph">
                        <h1>{{prodotto?.nome}}</h1>
                        <p>
                            {{prodotto?.descrizione}}
                        </p>
                    </div>
                    <div class="purchase" *ngIf="prodotto.disponibile">
                        <div class="quantity">
                            <button (click)="changeQuantity(-1)" class="remove">-</button>
                            <div class="qty">
                                {{quantity}}
                            </div>
                            <button (click)="changeQuantity(1)" *ngIf="quantity < prodotto?.stock"
                                class="add">+</button>
                        </div>
                        <div class="price">{{prodotto?.prezzo * quantity}} €</div>
                        <div class="button">
                            <button (click)="aggiungiAlCarrello()"> Aggiungi </button>
                        </div>
                    </div>

                    <div class="alert alert-danger justify-content-end text-center" role="alert"
                        *ngIf="!prodotto.disponibile">
                        PRODOTTO ESAURITO!
                    </div>
                </div>
            </div>
        </div>
        <aside class="col-1"></aside>
    </div>
</div>