<!-- Popup di errore -->
<div *ngIf="showErrorMessage" class="error-popup">
    <div class="popup-content">
      <h2>Siamo spiacenti!</h2>
      <p>Indirizzo URL sbagliato</p>
    </div>
  </div>
  
  <!-- Contenuto della tua home -->
  
  <!-- prima sezione con testo e immagine -->
  <app-prima-sezione></app-prima-sezione>

  <!-- sezione centrale con cards a scorrimento -->
  <app-cards-sezione></app-cards-sezione>
  
  <!-- sezione finale con immagine in parallax -->
  <app-parallax-sezione></app-parallax-sezione>
  
  <!-- <div class="FeedBackSection">
    <div class="FeedBackTitle">
      <h2>Le vostre recensioni</h2>
      <hr class="UnderTitle2">
    </div>
    
    <div class="FeedBacks">
        <div class="FeedBack">
          <div class="FeedBack-Img">
            <img src="close.png" alt="cardImg" class="quotes"/>
          </div>
            <div class="FeedBack-Text">
            <h3>Atmosfera affascinante</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Sed vel tortor non magna pharetra bibendum. 
              Mauris a elit gravida, vulputate urna eu, bibendum augue. 
              Maecenas bibendum at tellus ut tempus. 
              Cras egestas dui in bibendum porttitor.
            </p>
          </div>
          <div class="FeedBack-Footer">
            <p>- Mario Rossi</p>
          </div>
        </div>
        <div class="FeedBack">
          <div class="FeedBack-Img">
            <img src="close.png" alt="cardImg" class="quotes"/>
          </div>
            <div class="FeedBack-Text">
            <h3>Atmosfera affascinante</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Sed vel tortor non magna pharetra bibendum. 
              Mauris a elit gravida, vulputate urna eu, bibendum augue. 
              Maecenas bibendum at tellus ut tempus. 
              Cras egestas dui in bibendum porttitor.
            </p>
          </div>
          <div class="FeedBack-Footer">
            <p>- Mario Rossi</p>
          </div>
        </div>
        <div class="FeedBack">
          <div class="FeedBack-Img">
            <img src="close.png" alt="cardImg" class="quotes"/>
          </div>
            <div class="FeedBack-Text">
            <h3>Atmosfera affascinante</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Sed vel tortor non magna pharetra bibendum. 
              Mauris a elit gravida, vulputate urna eu, bibendum augue. 
              Maecenas bibendum at tellus ut tempus. 
              Cras egestas dui in bibendum porttitor.
            </p>
          </div>
          <div class="FeedBack-Footer">
            <p>- Mario Rossi</p>
          </div>
        </div>
    </div>
  </div> -->