@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
body{
  background-color: #ede9e7;
}

.error-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

/* --- FIRST SECTION --- */

/* --- CARD SECTION --- */

/* --- PARALLAX SECTION --- */

/* --- FEEDBACK SECTION --- */

.FeedBackSection {
  height: 550px;
  background-color: #ede9e7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.FeedBackTitle{
  padding-bottom: 20px;
  top: 0;
  height:15%;
}

.FeedBackTitle h2{
  font-size: 2.5rem;
  letter-spacing: 0.05em;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  color:#b44715;
  text-transform: capitalize;
  text-align: center;
  padding: 50px 0;
  margin: 0;
}

.UnderTitle2{
  width: 80%; 
  margin: -15px auto; 
  border: 1px solid #333;
}

.FeedBacks{
  height: 85%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
}

.FeedBack{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 250px;
  margin: 20px;
  margin-top: 50px;
}

.Feedback-Img{
  position: fixed;
  top: 0;
  left: 0;
  height: 10%;
}

.FeedBack-Text, .FeedBack-Footer{
  letter-spacing: 0.05em;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  color:#b44715;
  text-transform: capitalize;
  margin: 0;
}

.FeedBack-Text h3{
  font-size: 1.5rem;
  margin: 0;
  height: 20%;
}

.FeedBack-Text p{
  font-size: 1rem;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 60%;
  padding-top: 4%;
} 

.quotes{
  width: 14%; height: 4vh;
  filter: invert(17%) sepia(84%) saturate(1945%) hue-rotate(4deg) brightness(93%) contrast(84%);
} 

#single-line-ellipsis{
  display: -webkit-box;              /* Necessario per il flexbox specifico di WebKit */
  -webkit-line-clamp: 3;             /* Limita a 3 righe */
  -webkit-box-orient: vertical;      /* Imposta l'orientamento verticale */
  overflow: hidden; 
}