<div class="container-fluid">
    <div class="row">
        <aside class="col-1"></aside>
        <div class="col-10">
            <h1>La vostra fetta di opinione</h1>
            <div class="hr">
                <hr>
            </div>
            <div class="feedback">

                <div class="card" *ngFor="let feed of data">
                    <div class="card-header">
                        <img src="close.png" alt="Quotes">
                        <p>{{ feed?.dataFeedback | date:'dd/MM/yyyy' }}</p>
                    </div>
                    <div class="card-body">
                        <p>{{feed?.descrizione}}</p>
                    </div>
                    <div class="card-footer">
                        <div style="display:flex; gap:10px;"><img *ngFor="let star of getCakeArray(feed?.voto)"
                                src="cake-slice2.png" alt="Torta" style="width:22.5px; height: 22.5px;"></div>
                        - {{feed?.utente?.nome}} {{feed?.utente?.cognome}}
                    </div>
                </div>
            </div>
            <div class="comment">
                <h2>Dicci la tua</h2>
                <div class="hr">
                    <hr>
                </div>
                <div class="box">
                    <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
                        <mat-form-field hideRequiredMarker="true">
                            <mat-label>Feedback</mat-label>
                            <textarea matInput #message maxlength="255"
                                placeholder="Il nostro dolce ti ha conquistato? Lascia un commento!"
                                formControlName="descrizione"></textarea>
                            <mat-hint align="end">{{message.value.length}} / 255</mat-hint>
                        </mat-form-field>
                        <div class="rate-send">
                            <mat-form-field class="voto" hideRequiredMarker="true">
                                <mat-label>Voto</mat-label>
                                <mat-select [(ngModel)]="selectedValue" name="rating" required
                                    formControlName="valutazione">
                                    <mat-option>--</mat-option>
                                    @for (r of rating; track r) {
                                    <mat-option [value]="r.value">{{r.viewValue}}</mat-option>
                                    }
                                </mat-select>
                                <mat-error *ngIf="selectedValue === ''">Inserire una valutazione</mat-error>
                            </mat-form-field>
                            <div class="button">
                                <p>{{msg}}</p>
                                <button [disabled]="!feedbackForm.valid" (click)="show = !show"> Invia </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div *ngIf="show && update" class="alert alert-success">
                    Feedback Aggiornato!
                </div>
            </div>
        </div>
        <aside class="col-1"></aside>
    </div>
</div>