<div class="login-container">
    <form class="login-form" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <h2>Login</h2>
      <div class="form-group">
        <label for="username">Username</label>
        <input id="username" type="text" placeholder="Inserisci il tuo username" formControlName="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" placeholder="Inserisci la tua password" formControlName="password" required>
      </div>
      <button type="submit" class="login-button">LOGIN</button>
    </form>
  </div>