<div class="FirstSection">
    <div class="FirstParagraph">
      <h1>I vostri sorrisi,<br>la nostra ciliegina..</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Vestibulum varius eget turpis in hendrerit. 
        Proin luctus, nulla at tempus ultrices, dui nisl blandit ipsum, nec commodo ex risus gravida felis. 
        Donec hendrerit non urna vitae dapibus. 
        Integer ipsum nulla, elementum vitae venenatis condimentum, 
        imperdiet at nulla. Nullam a ultrices ligula, non porttitor dolor. 
      </p>
    </div>
    <div class="FirstImage">
      <img src="Locale3.png" alt="Pasticceria"/>
    </div>
  </div>