*,
::after,
::before {
  box-sizing: none;
}

.FirstSection {
  display: flex;
  background-color: #ede9e7;
  flex-wrap: wrap;
  margin: 3.5%;
  border: 1px solid #333;
  align-items: center;
  justify-content: space-between;
  padding: 3%;
  gap: 2rem;
}

@media (max-width: 1080px) {
  #single-line-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.FirstParagraph {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  height: auto;
  align-items: flex-start;
  flex: 1;
  min-width: 300px;
}

.FirstParagraph h1 {
  letter-spacing: 0.1em;
  font-size: 3rem;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  color: #b44715;
  text-transform: capitalize;
}

@media (min-width: 1367px) {
  .FirstParagraph h1 {
    font-size: 4rem;
  }
}

.FirstParagraph p::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 100%;
  background-color: #333;
  position: absolute;
  left: 0;
  top: 0;
}

.FirstParagraph p {
  position: relative;
  padding-left: 20px;
  letter-spacing: 0.05em;
  font-size: 1.6rem;
  font-family: 'Poiret One', cursive;
  color: #b44715;
  width: 90%;
  font-weight: 400;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 7%;
}

@Media (max-width: 1366px) {
  .FirstParagraph p {
    font-size: 1rem;
  }
}

.FirstImage {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  object-fit: cover;
  padding: 0.8%;
}

@media (max-width: 1080px) {
  .FirstImage {
    width: 100%;
    height: 100%;
  }

}