*, ::after, ::before {
  box-sizing: none;
}

.FirstSection {
  display: flex;
  /* flex-direction: row; */
  /* height: fit-content; */
  /* width: auto; */
  background-color: #ede9e7;
  /* overflow: hidden; */
  flex-wrap: wrap;
  margin: 3.5%;
  border: 1px solid #333;

  /*aggiunti con chat*/
  align-items: center;
  justify-content: space-between;
  padding: 3%;
  gap: 2rem;
}

@media (max-width: 1080px) {
    #single-line-ellipsis{
    display: -webkit-box;              /* Necessario per il flexbox specifico di WebKit */
    -webkit-line-clamp: 3;             /* Limita a 3 righe */
    -webkit-box-orient: vertical;      /* Imposta l'orientamento verticale */
    overflow: hidden; 
  }
}
  
  .FirstParagraph {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    width: 50%;
    height: auto;
    /* padding: 15.75vh 50px 50px 50px; */
    align-items: flex-start;

    /*aggiunti con chat*/
    flex: 1;
    min-width: 300px;
  }
  
  .FirstParagraph h1 {
    letter-spacing: 0.1em;
    font-size: 3rem;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    color:#b44715;
    text-transform: capitalize;
  }

  @media (min-width: 1367px) {
    .FirstParagraph h1 {
      font-size: 4rem;
    }
  }
  

  .FirstParagraph p::before{
    content: "";
    display: inline-block;
    width: 2px;
    height: 100%;
    background-color: #333;
    position: absolute;
    left: 0;
    top: 0;
  }

  .FirstParagraph p {
    position: relative;
    padding-left: 20px;
    letter-spacing: 0.05em;
    font-size: 1.6rem;
    font-family: 'Poiret One', cursive;
    color:#b44715;
    width: 90%;
    font-weight: 400;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); /* Ombra leggera */
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 7%;
  }

  @Media (max-width: 1366px) {
    .FirstParagraph p {
      font-size: 1rem;
    }
  }
  
  .FirstImage {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    object-fit: cover; /* Evita distorsioni nelle immagini */
    padding: 0.8%;
  }

  @media (max-width: 1080px) {
    .FirstImage {
      width: 100%;
      height: 100%;
    }
    
  }