<div class="custom-font">
    <h2><b>Lista Ordini</b></h2>
  
    <div *ngIf="ordini.length === 0">
      <p>Nessun ordine trovato.</p>
    </div>
  
    <table *ngIf="ordini.length > 0" class="order-table">
      <thead>
        <tr>
          <th class="col-1">Numero dell'Ordine</th>
          <th class="col-1">Data</th>
          <th class="col-2">Totale</th>
          <th class="col-3">Indirizzo</th>
          <th class="col-1">Status</th>
          <th class="col-3">Azioni</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ordine of ordini">
          <td>{{ ordine.id }}</td>
          <td>{{ ordine.dataOrdine | date: 'dd/MM/yyyy' }}</td>
          <td>{{ ordine.totale | currency:'EUR' }}</td>
          <td>{{ ordine.indirizzo }}</td>
          <td>
            <!-- Se l'ordine è in modifica, mostra il menu a tendina -->
            <ng-container *ngIf="ordineInModifica === ordine.id; else showStatus">
            <dialog class="dialog-window" open>
              <div class="dialog-content">
                <select [(ngModel)]="ordine.status">
                  <option *ngFor="let stato of statiDisponibili" [value]="stato">
                    {{ stato }}
                  </option>
                </select>
              </div>
              <div class="dialog-buttons">
                <button class="btn btn-success" (click)="salvaModifica(ordine)">Salva</button>
                <button class="btn btn-secondary" (click)="annullaModifica()">Annulla</button>
              </div>
            </dialog>
            </ng-container>
  
            <!-- Se non è in modifica, mostra lo stato normalmente -->
            <ng-template #showStatus>
              {{ ordine.status }}
            </ng-template>
          </td>
          <td class="azioni">
            <button class="btn btn-det" (click)="dettagliOrdine(ordine.id)">Dettagli ordine</button>
            <button class="btn btn-danger" (click)="modificaOrdine(ordine)">Modifica ordine</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  