<div class="custom-font">
    <h2>Lista Ordini</h2>
  
    <div *ngIf="ordini.length === 0">
      <p>Nessun ordine trovato.</p>
    </div>
  
    <table *ngIf="ordini.length > 0" class="order-table">
      <thead>
        <tr>
          <th>Numero dell'Ordine</th>
          <th>Data</th>
          <th>Totale</th>
          <th>Indirizzo</th>
          <th>Status</th>
          <th>Azioni</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ordine of ordini">
          <td>{{ ordine.id }}</td>
          <td>{{ ordine.dataOrdine | date: 'dd/MM/yyyy' }}</td>
          <td>{{ ordine.totale | currency:'EUR' }}</td>
          <td>{{ ordine.indirizzo }}</td>
          <td>
            <!-- Se l'ordine è in modifica, mostra il menu a tendina -->
            <ng-container *ngIf="ordineInModifica === ordine.id; else showStatus">
              <select [(ngModel)]="ordine.status">
                <option *ngFor="let stato of statiDisponibili" [value]="stato">
                  {{ stato }}
                </option>
              </select>
              <button class="btn btn-success" (click)="salvaModifica(ordine)">Salva</button>
              <button class="btn btn-secondary" (click)="annullaModifica()">Annulla</button>
            </ng-container>
  
            <!-- Se non è in modifica, mostra lo stato normalmente -->
            <ng-template #showStatus>
              {{ ordine.status }}
            </ng-template>
          </td>
          <td>
            <button class="btn btn-det" (click)="dettagliOrdine(ordine.id)">Dettagli ordine</button>
            <button class="btn btn-danger" (click)="modificaOrdine(ordine)">Modifica ordine</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  