.order-table {
  width: 90%;
  border-collapse: collapse;
  border-spacing: 0 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  }
  
  thead tr th{
  padding-bottom: 2rem;
  font-size: 1.2rem;
  }
  
  tbody tr td {
      height: 3.5rem;
  }
  
  .order-table th, .order-table td {
  border-bottom: 1px solid #b44715;
  padding: 10px;
  text-align: center;
  }
  
  .order-table th {
  color: #b44715;
  }

  .custom-font {
    font-family: 'Poiret One', cursive;
    color: #b44715;
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
    }
    
    h2{
        color: #333;
        font-size: 3.5rem;
    }

    .azioni button{
      font-family: 'Poiret One', cursive;
      background-color: #333;
      color: #ede9e7;
      font-size: 1.2rem;
      border-radius: 10px;
      margin-right: 20px;
    }

    .azioni button:hover {
      background-color: #b44715;
      transform: scale(1.05);
    }
    
    
  
  .dialog-window {
    width: 15%;
    height: 15%;
    padding: 20px;
    border-radius: 10px;
    background-color: #ede9e7;
  }

  .dialog-window button{
    font-family: 'Poiret One', cursive;
    background-color: #333;
    color: #ede9e7;
    font-size: 1.2rem;
    border-radius: 10px;
  }

  .dialog-window .btn-success{
    
    margin-right: 20px;
  }

  .dialog-window .btn-success:hover {
    background-color: #b44715;
    transform: scale(1.05);
  }

  .dialog-window .btn-secondary:hover {
    background-color: red;
    transform: scale(1.05);
  }

  .dialog-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}