body {
    font-family: 'Poiret One', cursive;
    background-color: #ede9e7;
    color: #b44715;

}

.custom-font {
    font-family: 'Poiret One', cursive;
    background-color: #ede9e7;
    color: #b44715;

}

.btn {
    background-color: #333;
    color: #fff9ed;
    outline: none;
    border: 0;
}

.btn:hover {
    background-color: #b44715;
    color: #fff9ed;
    outline: none;
    transition: color 0.3s ease;
}

.card-footer .btn+.btn {
    margin-left: 1rem;
}

.modifica-profilo {
    margin-right: 1rem;
}

.btn-delete {
    background-color: #ff0000;
    color: #fff9ed;
    outline: none;
    border: 0;
    margin-left: auto;
}

.btn-delete:hover {
    background-color: #e71616;
    color: #fff9ed;
    outline: none;
    transition: color 0.3s ease;
}