.CardSection {
  background-color: #111;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SectionTitle h2 {
  font-size: 2.2rem;
  color: #fff9ed;
  font-family: 'Poiret One', cursive;
  text-align: center;
  margin-bottom: 20px;
}

.UnderTitle {
  width: 80%;
  border: 1px solid #fff9ed;
  margin-bottom: 20px;
}

.Cards {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  overflow: hidden;
}

.LeftButton, .RightButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.LeftButton {
  left: 10px;
}

.RightButton {
  right: 10px;
}

.left-Img, .right-Img {
  width: 30px;
  height: 35px;
  filter: invert(96%) sepia(2%) saturate(2499%) hue-rotate(9deg) brightness(105%) contrast(100%);
}

.Card-Container {
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  justify-content: center;
}

.Card-Container figure {
  flex: 0 0 calc(33.33% - 20px); /* 3 card per riga su desktop */
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgb(0, 0, 0);
  overflow: hidden;
  max-width: 300px;
}

figure img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

figcaption {
  padding: 10px;
  color: #fff9ed;
  background-color: rgba(0, 0, 0, 0.7); /* Colore nero trasparente */
  font-family: 'Poiret One', cursive;
  text-align: center;  /* Centra il testo sotto l'immagine */
}

.Card-Footer a {
  color: #fff9ed;
  font-size: 1rem;
  text-decoration: none;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.Card-Footer a:hover {
  color: #fdfaf3; /* Cambia il colore */
  font-weight: bold; /* Rende il testo più in evidenza */
  text-decoration: underline; /* Aggiunge la sottolineatura */
}

.Carousel-Indicators {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
}

.Carousel-Indicators span {
  width: 10px;
  height: 10px;
  background-color: #fff9ed;
  border-radius: 50%;
  cursor: pointer;
}

.Carousel-Indicators span.active {
  background-color: #b44715;
  transform: scale(1.2);
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .Card-Container figure {
    flex: 0 0 calc(50% - 20px); /* 2 card per riga su tablet */
  }
}

@media (max-width: 768px) {
  .Card-Container figure {
    flex: 0 0 100%; /* 1 card per riga su mobile */
  }

  figcaption {
    font-size: 0.9rem;
  }

  .LeftButton, .RightButton {
    display: block; /* Rendi visibili le frecce su mobile */
  }
}
