<div class="CardSection">
    <div class="SectionTitle">
      <h2 style="margin: 0;">Le nostre specialità</h2>
    </div>
    <hr class="UnderTitle">
    <div class="Cards">
      <div class="Card-Container">
        <button (click)="scrollCardsLeft()" class="LeftButton">
          <img src="left-arrow.png" alt="left-arrow" class="left-Img"/>
        </button>
    
        <div class="Card-Wrap">
          <div *ngFor="let card of visibleCards" class="Card">
            <img [src]="card.img" [alt]="card.title" style="width: 100%; height: 200px;" />
            <div class="Card-Text">
              <h3>{{ card.title }}</h3>
              <p>{{ card.description }}</p>
            </div>
            <div class="Card-Footer">
              <a href="#" class="GoTo">Scopri di più </a>
            </div>
          </div>
        </div>
    
        <button (click)="scrollCardsRight()" class="RightButton">
          <img src="right-arrow.png" alt="right-arrow" class="right-Img"/>
        </button>
      </div>
    </div>
      <!-- Indicators -->
    <div class="Carousel-Indicators">
        <span *ngFor="let page of totalPages; let i = index" 
              [class.active]="i === currentPage" 
              (click)="goToPage(i)">
        </span>
    </div>
  </div>