<div class="CardSection">
  <div class="Cards">
    <button (click)="scrollCardsLeft()" class="LeftButton">
      <img src="left-arrow.png" alt="left-arrow" class="left-Img" />
    </button>
    <div class="Card-Container">

      <figure class="image-block" *ngFor="let prodotto of visibleCards">
        <img src={{prodotto.img}} alt="immagine" />
        <figcaption>
          <h3>
            {{prodotto.nome}}
          </h3>
          <hr>
          <div>
            <p>
              Prezzo:
              {{prodotto.prezzo}}€
            </p>
            <button *ngIf="prodotto.disponibile" (click)="dettagliProdotto(prodotto.id)"
              class="button-dettagli">Scoprimi</button>
          </div>
          <p class="card-text" style="color: red;" *ngIf="!prodotto.disponibile">ESAURITO</p>
        </figcaption>
      </figure>

    </div>
    <button (click)="scrollCardsRight()" class="RightButton">
      <img src="right-arrow.png" alt="right-arrow" class="right-Img" />
    </button>
  </div>

  <div class="Carousel-Indicators">
    <span *ngFor="let page of totalPages; let i = index" [class.active]="i === currentPage" (click)="goToPage(i)">
    </span>
  </div>
</div>