<div class="CardSection">
    <div class="SectionTitle">
      <h2 style="margin: 0;">Le nostre specialità</h2>
    </div>
    <hr class="UnderTitle">
    <div class="Cards">
      <button (click)="scrollCardsLeft()" class="LeftButton">
        <img src="left-arrow.png" alt="left-arrow" class="left-Img"/>
      </button>
      <div class="Card-Container">
    
        <figure class="image-block" *ngFor="let card of visibleCards">
          <img [src]="card.img" [alt]="card.title" />
          <figcaption>
            <h3>
              {{ card.title }}
            </h3>
            <p>{{ card.description }}</p>
            <div class="Card-Footer">
              <a href="#" class="GoTo">Scopri di più </a>
            </div>
          </figcaption>
        </figure>

      </div>
      <button (click)="scrollCardsRight()" class="RightButton">
        <img src="right-arrow.png" alt="right-arrow" class="right-Img"/>
      </button>
    </div>
      <!-- Indicators -->
    <div class="Carousel-Indicators">
        <span *ngFor="let page of totalPages; let i = index" 
              [class.active]="i === currentPage" 
              (click)="goToPage(i)">
        </span>
    </div>
  </div>