<div class="container">
  <div class="row">
    <aside class="col-2"></aside>
    <div class="main-row col-8">
      <div class="titolo">
        <div class="titolo-search">
          <h1>Prodotti</h1>
          <div class="search-box">
            <button class="btn-search"><i class="fas fa-search"></i></button>
            <input class="input-search" type="text" [(ngModel)]="searchQuery" (keyup.enter)="searchProduct()"
              placeholder="Cerca un prodotto...">
          </div>
        </div>
        <hr>
      </div>

      <div class="card-container">
        <figure class="image-block"
          *ngFor="let prodotto of prodotti | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
          <img [src]="prodotto.img" alt="immagine" (error)="onImageError(prodotto.img)" />
          <figcaption>
            <h3>{{ prodotto.nome }}</h3>
            <hr>
            <div>
              <p>Prezzo: {{ prodotto.prezzo }}€</p>
              <button (click)="dettagliProdotto(prodotto.id)" class="button-dettagli">Scoprimi</button>
            </div>
            <p class="card-text" style="color: red;" *ngIf="!prodotto.disponibile">ESAURITO</p>
          </figcaption>
        </figure>


        <p *ngIf="prodotti === null" class="no-products">Nessun prodotto trovato con questo nome</p>
      </div>

      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
    <aside class="col-2"></aside>
  </div>
</div>