<div class="container">
  <!-- Mostra titolo e pulsante SOLO se ci sono prodotti nel carrello -->
  <ng-container *ngIf="prodottiCarrello.length > 0">
    <div>
      <div class="titolo">
        <h1><b>IL TUO CARRELLO</b></h1>
        <button class="btn-custom btn-svuota titolo-button" (click)="svuotaCarrello()">Svuota Carrello</button>
      </div>
    </div>
    <hr>
  </ng-container>

  <!-- Se il carrello è vuoto, mostra solo questa sezione -->
  <ng-container *ngIf="prodottiCarrello.length === 0">
    <div class="alert alert-secondary d-flex flex-column align-items-center" role="alert">
      <img src="https://cdn-icons-png.flaticon.com/512/1170/1170576.png" alt="Carrello Vuoto" />
      <h4 class="alert-heading">Carrello vuoto</h4>
      <p>
        Visita la nostra <a routerLink="/prodotti" class="custom-link">
          <i class="bi bi-box-arrow-up-right"></i> pagina dei prodotti</a> per iniziare a fare shopping!
      </p>
    </div>
  </ng-container>

  <!-- Se il carrello ha prodotti, mostra la tabella -->
  <div class="cart-table" *ngIf="prodottiCarrello.length > 0">
    <div class="cart-header">
      <span>Prodotto</span>
      <span>Quantità</span>
      <span>Prezzo</span>
      <span>Totale</span>
      <span>Azioni</span>
    </div>

    <div class="cart-item" *ngFor="let prodotto of prodottiCarrello">
      <div class="responsive-product">
        <span class="responsive">Prodotto:</span>
        <span>
          <a [routerLink]="['/prodotto', prodotto?.prodotto?.id]">
            {{ prodotto?.prodotto?.nome }}
          </a>
        </span>
      </div>
      <div class="responsive-product">
      <span class="responsive">Quantità:</span>
      <div class="quantity-controls">
        <button (click)="changeQuantity(-1, prodotto)">-</button>
        <span>{{ prodotto.quantita }}</span>
        <button (click)="changeQuantity(1, prodotto)">+</button>
      </div>
    </div>
      <div class="responsive-product">
      <span class="responsive">Prezzo:</span>
      <span>{{ prodotto?.prodotto?.prezzo }} €</span>
    </div>
      <div class="responsive-product">
      <span class="responsive">Totale:</span>
      <span>{{ prodotto?.prodotto?.prezzo * prodotto?.quantita }} €</span>
    </div>
      <div class="responsive-product">
      <span class="responsive">Azioni:</span>
      <button class="btn-custom btn-elimina" (click)="rimuoviProdotto(prodotto?.id)">Elimina</button>
    </div>
    </div>

    <div class="cart-footer">
      <span class="totale-label">Totale:</span>
      <span class="totale-importo">{{ calcolaTotale() }}€</span>
      <button class="btn-custom btn-acquista" (click)="acquista()">Acquista</button>
    </div>
  </div>
</div>
