<div class="custom-font">
    <div class="header-container">
        <h2><b>Gestione Credenziali Utenti</b></h2>
        <div class="image-container">
            <img class="immagine" src="plus.png" alt="Torna alla lista ordini" (click)="createUser()">
        </div>
    </div>
    <table class="order-table">
        <thead>
            <tr>
                <th class="col-3">Username</th>
                <th class="col-3">Password</th>
                <th class="col-2">Ruoli</th>
                <th class="col-1">Account Attivo?</th>
                <th class="col-3">Azione</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let credenziale of credenzialiList" (click)="openCredenzialiDialog(credenziale)">
                <td data-label="Username">{{ credenziale.username }}</td>
                <td data-label="Password">{{ credenziale.password }}</td>
                <td data-label="Ruoli">{{ credenziale.ruolo?.descrizione }}</td>
                <td data-label="Account Attivo?">{{ credenziale.attivo ? 'Sì' : 'No' }}</td>
                <td data-label="Azione">
                    <button class="dettagli-utente" (click)="viewDettagliUtente(credenziale.idUtente?.id)">Dettagli
                        Utente</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Dialog per modificare le credenziali -->
<dialog #credenzialiDialog>
    <h3>Modifica Credenziali</h3>
    <form (ngSubmit)="saveCredenziali()">
        <label for="username">Username:</label>
        <input id="username" [(ngModel)]="selectedCredenziali.username" name="username" required>

        <label for="password">Password:</label>
        <input id="password" [(ngModel)]="selectedCredenziali.password" name="password" required>

        <label for="ruoli">Ruoli: 1- ADMIN, 2-USER </label>
        <input id="ruoli" [(ngModel)]="selectedCredenziali.ruoli" name="ruoli" required>

        <label for="attivo">Attivo:</label>
        <select id="attivo" [(ngModel)]="selectedCredenziali.attivo" name="attivo">
            <option [value]="true">Sì</option>
            <option [value]="false">No</option>
        </select>

        <button type="submit">Salva</button>
        <button type="button" (click)="closeCredenzialiDialog()">Annulla</button>
    </form>
</dialog>