<mat-dialog-content class="test">
    <form [formGroup]="updateProductForm" (ngSubmit)="onSubmit()" class="test">

        <mat-form-field>
            <mat-label>Nome prodotto: </mat-label>
            <input matInput type="text" name="nome prodotto" formControlName="nomeProdotto">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Descrizione: </mat-label>
            <input matInput type="text" name="descrizione" formControlName="descrizione">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Peso: </mat-label>
            <input matInput type="number" name="peso" formControlName="peso">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Prezzo: </mat-label>
            <input matInput type="number" name="prezzo" formControlName="prezzo">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Stock: </mat-label>
            <input matInput type="number" name="stock" formControlName="stock">
        </mat-form-field>

        <div>
            <mat-form-field>
                <mat-label>Tipo prodotto</mat-label>
                <mat-select name="tipoProdotto" formControlName="tipoProdotto">
                    <mat-option *ngFor="let tprod of tipiProdotto"
                        value="{{tprod.id}}">{{tprod.descrizione}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="false" id="defaultCheck1"
                formControlName="disponibile">
            <label class="form-check-label" for="defaultCheck1">
                Disponibile
            </label>
        </div>

        <p>{{msg}}</p>
        <button mat-raised-button type="submit">Aggiorna</button>
        <button mat-raised-button type="button" (click)="chiudi()">Chiudi</button>

    </form>

</mat-dialog-content>